

    .teamwork{
        width: 400px;
        
    }
.uploadcv{
    width: 300px;
}
    .btn-apply{
        background-color: #FFF;
        color:#24508f;
        border-radius: 12px;
        width: 250px;
        border:none;
        padding: 12px;
    }