.mainheader{
    color:#FFF;
    margin-top: 30px;

}
header.mainrtl {
   direction: rtl;
   color:#FFF;
   margin-top: 30px;
   font-family: 'Cairo';
  }
header:not(.mainrtl) {
    color:#FFF;
    margin-top: 30px;
  }
  .btn-lang{
    border-radius: 50%;
    width: 100%;
    height: 50%;
    border: none;
  }

.Main-list{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
    font-weight: 900;
    margin: 0;
}
.main-title{
    margin: 0;
    font-size: 25px;
}
.btn-login{
    border:none;
    padding: 12px 0;
    border-radius: 12px;
    width: 150px;
    color:#1a4f49;
    font-weight: 900;
}
@media screen and (max-device-width: 600px) {
.main-header{
    display: none;
}

}